{% extends "layout.html" %}

{% block title %}
    Hub
{% endblock %}

{% block main %}

<div class="central">
    <div>
        <h1 class="app-title" style="margin-top: -50px;">calendar</h1>
    </div>
    <p>
        <iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FNew_York&amp;src=ajgxYXBrOG5lOHNmcTA3NXNqNHVxMzdjdjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%236633CC&amp;color=%23227F63&amp;showTz=1&amp;showPrint=0&amp;showTabs=1&amp;showDate=1&amp;showNav=1&amp;showTitle=0" style="border-width:0" width="600" height="500" frameborder="0" scrolling="no"></iframe>
    </p>
</div>
{% endblock %}