{% extends "layout.html" %}

{% block title %}
    Join Group
{% endblock %}

{% block main %}
<div class="central">
    <form action="/groupjoin" method="post">
        <h1>join study group</h1>
        <p>
            Enter group name and pin below.
        </p>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="groupname" placeholder="group name" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="pin" type="password" id="typepass">
        </div>
        <div>
            <script>
                function Toggle() {
                    var temp = document.getElementById("typepass");
                    if (temp.type === "password") {
                        temp.type = "text";
                    }
                    else {
                        temp.type = "password";
                    }
                }
            </script>
            <input type="checkbox" onclick="Toggle()">Show Pin
        </div>
        <button class="btn btn-light" type="submit">Join</button>
    </form>
</div>
{% endblock %}